yourorg__yourthemerepo__github_secret_token=deadbeefdeadbeefdeadbeefdeadbeefdeadbeef
yourorg__yourthemerepo__theme_id=123456
yourorg__yourthemerepo__shopify_domain=yourstore.myshopify.com
yourorg__yourthemerepo__shopify_api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeef
yourorg__yourthemerepo__shopify_password=deadbeefdeadbeefdeadbeefdeadbeefdeadbeef
