{
  "themes": {
    "your_org/your_theme_repo": {
      "github_secret_token": "deadbeefdeadbeefdeadbeefdeadbeef",
      "theme_id": 123456,
      "shopify_domain": "yourshop.myshopify.com",
      "shopify_credentials": {
        "api_key": "deadbeefdeadbeefdeadbeefdeadbeef",
        "password": "deadbeefdeadbeefdeadbeefdeadbeef"
      }
    }
  }
}
